@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
nav{
    height: 40px;
    line-height: 38px;
    font-size: 35px;
    text-align: center;
}
nav::after{
    clear: both;
    content: '';
    display: block;
}
.btn-ham{
    float: right;
    font-size: 35px;
    margin: 0 20px 0;
    cursor: pointer;
    z-index: 1;
}
.sidebar{
    position: absolute;
    top: 0;
    bottom: 0;
    right: -300px;
    width: 300px;
    box-sizing: border-box;
    border: 2px solid orange;
    background-color: black;
    z-index: 2;
}
.sidebar-close{
    font-size: 40px;
    float: right;
    margin: 5px 18px 0;
    color: white;
    cursor: pointer;
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    text-align: center;
}
.fa-angle-left{
    color: black;
}
.font-black{
    color: black;
}

